In [1]:
import pandas as pd
import requests

## Lectura de objetos

Se realiza la lectura de los objetos directamente desde el github de felipeares.

In [2]:
url = 'https://raw.githubusercontent.com/felipeares/legalbot-desafio-objetos/master/objetos.txt'
page = requests.get(url)
#Se identificó visualmente que el separador de los objetos corresponde a los caracteres \n\n
df_corpus = pd.DataFrame(page.text.split('\n\n'), columns = ['objeto'])

In [3]:
df_corpus.head()

                                              objeto
0  CONSTRUCCIÓN, ALQUILER DE OTROS TIPOS DE MAQUI...
1  el servicio de turismo por todo el territorio ...
2                                  SALON DE BELLEZA.
3  CURSOS ONLINE DE MUSICA, COCINA, CLASES DE MUS...
4  el ejercicio de la actividad comercial,importa...